* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(253 195 98);
}

.page-wrapper {
  height: 100vh;
  margin: 0 auto;
  width: 80%;
  background-color: #fffff9;
}
.page-wrapper__header {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: url(sw-header.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  .header__text-container {
    display: grid;
    place-items: center;
    color: rgb(253 195 98);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    font-size: 2em;
    font-family: "Poller One", serif;
  }
}
.left__title-container {
  background-color: #434a52;
  width: 100%;
  height: 10%;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #fdc362;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.right__title-container {
  background-color: #434a52;
  width: 100%;
  height: 10%;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #fdc362;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.page-wrapper__main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: #5a5a5a;

  .main-content__left,
  .main-content__right {
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    background-color: black;
    box-shadow: 0px 0px 4px 0px black;

    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      font-family: "Roboto", sans-serif;
      color: #fdc362;
      li {
        margin: auto 10%;
      }
    }
  }
}
.left__character-list {
  height: 90%;
  li {
    transition: background-color 0.3s ease;
    transition: font-size 0.5s ease;
  }
  li:hover {
    color: rgb(133, 23, 236);
    cursor: pointer;
    font-size: larger;
  }
}

.right__info-list {
  height: 50%;
  h4 {
    margin: 0;
    text-align: center;
    border: 1px solid rgb(73, 11, 131);
  }
  li {
    font-size: 15px;
    margin: 0;
  }
}
.right__info-list-bottom {
  height: 50%;
  h4 {
    margin: 0;
    text-align: center;
    border: 1px solid rgb(73, 11, 131);
  }
  li {
    font-size: 15px;
    margin: 0;
  }
}
.left__character-list li.selected-character {
  color: rgb(133, 23, 236);
  font-size: larger;
}
#prevButton,
#nextButton {
  background-color: #434a52;
  color: #fdc362;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
}

#prevButton:hover,
#nextButton:hover {
  background-color: #fdc362;
  color: #434a52;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: 0 auto;
  width: 30px;
  aspect-ratio: 1.154;
  clip-path: polygon(50% 0,100% 100%,0 100%);
  --c:no-repeat linear-gradient(#f03355 0 0);
  background: var(--c),var(--c),var(--c),var(--c),var(--c);
  background-size: 100% calc(100%/5 + 1px);
  animation: l15 2s infinite;
}
@keyframes l15 {
  0%  {background-position: 0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
  20% {background-position: 0 calc(4*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
  40% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
  60% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4)}
  80% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(-2*100%/4)}
  100%{background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(0*100%/4)}
}